.container {
  width: 100%;
  height: 96px;
  position:fixed;
  top: 0;
  z-index:  1;
  background-color: #ffffff;
  border-bottom: 5px solid #d3d3d3;
}

.title,
.title:visited,
.title:hover,
.title:active{
  color: inherit;
  text-decoration: none;
  cursor: default;
}

@media only screen and (max-width: 599px){
  .hidden{
    display: none;
  }
}